language: php

cache:
  apt: true
  directories:
  - "$HOME/.composer/cache"
  - "$HOME/.drush/cache"
  - "$HOME/.npm"

php:
  - 7.2
  - 5.6

env:
  global:
    - PATH="$PATH:$TRAVIS_BUILD_DIR/vendor/bin"

before_install:
  - echo $PATH
  - ls $PATH
  - thunder-travis-before-install
