language: php
dist: xenial

services:
  - mysql

cache:
  apt: true
  directories:
  - "$HOME/.composer/cache"
  - "$HOME/.drush/cache"
  - "$HOME/.npm"

php:
  - 7.2
  - 5.6

branches:
  only:
    - /^8\.([0-9]+|x)\-[0-9]+\.([0-9]+|x)$/

env:
  global:
    - PATH="$PATH:$HOME/.composer/vendor/bin"
    - DRUPAL_TRAVIS_TEST_GROUP=custom_list,custom_list_default

before_install:
  - composer global require thunder/travis

script:
  - test-drupal-module

notifications:
  email: false
