language: php
sudo: required

services:
  - docker

cache:
  apt: true
  directories:
  - "$HOME/.composer/cache"
  - "$HOME/.drush/cache"
  - "$HOME/.npm"

php:
  - 7.2

env:
  matrix:
    - DISTRIBUTION=drupal
    - DISTRIBUTION=thunder
  global:
    - PATH="$PATH:$HOME/.composer/vendor/bin""
    - THUNDER_TRAVIS_TEST_GROUP="Common"
    - THUNDER_TRAVIS_THUNDER_VERSION="dev-8.x-3.x"

before_script:
  - composer global require thunder/travis:dev-master

script:
  - test-module
