.custom-list-default__filter-form {
  margin-bottom: 5px;
}

.custom-list-default__filter-form__header {
  display: flex;
  background-color: lightgray;
}

.custom-list-default__filter-form__header > div {
  border: 1px solid gray;
  padding-left: 5px;
  flex: 1;
  overflow: hidden;
}

.custom-list-default__filter-list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.custom-list-default__filter-row {
  display: flex;
}

.custom-list-default__filter-row > div {
  border: 1px solid gray;
  padding-left: 5px;
  flex: 1;
  display: flex;
  overflow: hidden;
}

.custom-list-default__filter-row > div.custom-list-default__filter-row__filter_id {
  padding-left: 0;
}

.custom-list-default__filter-row__filter_id_selection,
.custom-list-default__filter-row__operator_selection {
  width: 100%;
}

.custom-list-default__filter-row__value > div {
  flex: 1;
  display: flex;
}

/**
 * Filter Form: String, Language, Numeric
 */
.custom-list-default__filter-form__string,
.custom-list-default__filter-form__boolean,
.custom-list-default__filter-form__language,
.custom-list-default__filter-form__taxonomy,
.custom-list-default__filter-form__user,
.custom-list-default__filter-form__numeric,
.custom-list-default__filter-form__date {
  flex: 1;
  display: flex;
}

.custom-list-default__filter-form__string span,
.custom-list-default__filter-form__boolean span,
.custom-list-default__filter-form__language span,
.custom-list-default__filter-form__taxonomy span,
.custom-list-default__filter-form__user span,
.custom-list-default__filter-form__numeric span,
.custom-list-default__filter-form__date span {
  flex: 1;
}

.custom-list-default__filter-form__string__edit-value,
.custom-list-default__filter-form__boolean__edit-value,
.custom-list-default__filter-form__language__edit-value,
.custom-list-default__filter-form__taxonomy__edit-value,
.custom-list-default__filter-form__user__edit-value,
.custom-list-default__filter-form__numeric__edit-value,
.custom-list-default__filter-form__date__edit-value {
  display: block;
  position: absolute;
  z-index: 1001;
}

/**
 * Getting bigger specificity then base Drupal one.
 */
#drupal-off-canvas input[type="submit"].custom-list-default__filter__add-button {
  margin-top: 5px;
}
