.custom-list-default__sort-form {
  margin-bottom: 5px;
}

.custom-list-default__sort-form__header {
  display: flex;
  background-color: lightgray;
}

.custom-list-default__sort-form__header > div {
  border: 1px solid gray;
  padding-left: 5px;
  flex: 1;
  overflow: hidden;
}

.custom-list-default__sort-list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.custom-list-default__sort-row {
  display: flex;
}

.custom-list-default__sort-row > div {
  border: 1px solid gray;
  padding-left: 5px;
  flex: 1;
  overflow: hidden;
}

.custom-list-default__sort-row > div.custom-list-default__sort-row__order,
.custom-list-default__sort-row > div.custom-list-default__sort-row__sort_id {
  padding-left: 0;
}

.custom-list-default__sort-row__order_selection,
.custom-list-default__sort-row__sort_id_selection {
  width: 100%;
}

.custom-list-default__sort-row__edit-order {
  display: block;
  position: absolute;
  z-index: 1001;
}

/**
 * Getting bigger specificity then base Drupal one.
 */
#drupal-off-canvas input[type="submit"].custom-list-default__sort__add-button {
  margin-top: 5px;
}
